ProyectoCliente/ProyectoCliente/Service References/servicioweb/VolumenEsfera.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Volumen/" targetNamespace="http://Volumen/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Catalogo" type="tns:Catalogo" />
  <xs:element name="CatalogoResponse" type="tns:CatalogoResponse" />
  <xs:element name="ImagenesR" type="tns:ImagenesR" />
  <xs:element name="ImagenesRResponse" type="tns:ImagenesRResponse" />
  <xs:element name="Login" type="tns:Login" />
  <xs:element name="LoginResponse" type="tns:LoginResponse" />
  <xs:complexType name="Login">
    <xs:sequence>
      <xs:element minOccurs="0" name="User" type="xs:string" />
      <xs:element minOccurs="0" name="Pass" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Catalogo">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="CatalogoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImagenesR">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="ImagenesRResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>