ClienteProyect2/ClienteProyect2/Service References/servicioweb/VolumenEsfera.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Volumen/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="VolumenEsfera" targetNamespace="http://Volumen/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://192.168.1.8:8080/EDDServidorProyecto/VolumenEsfera?xsd=1" namespace="http://Volumen/" />
    </xsd:schema>
  </types>
  <message name="agregarcarrito">
    <part name="parameters" element="tns:agregarcarrito" />
  </message>
  <message name="agregarcarritoResponse">
    <part name="parameters" element="tns:agregarcarritoResponse" />
  </message>
  <message name="Login">
    <part name="parameters" element="tns:Login" />
  </message>
  <message name="LoginResponse">
    <part name="parameters" element="tns:LoginResponse" />
  </message>
  <message name="Catalogo">
    <part name="parameters" element="tns:Catalogo" />
  </message>
  <message name="CatalogoResponse">
    <part name="parameters" element="tns:CatalogoResponse" />
  </message>
  <message name="dotcompras">
    <part name="parameters" element="tns:dotcompras" />
  </message>
  <message name="dotcomprasResponse">
    <part name="parameters" element="tns:dotcomprasResponse" />
  </message>
  <message name="agregarcompra">
    <part name="parameters" element="tns:agregarcompra" />
  </message>
  <message name="agregarcompraResponse">
    <part name="parameters" element="tns:agregarcompraResponse" />
  </message>
  <message name="carritodot">
    <part name="parameters" element="tns:carritodot" />
  </message>
  <message name="carritodotResponse">
    <part name="parameters" element="tns:carritodotResponse" />
  </message>
  <message name="comprar">
    <part name="parameters" element="tns:comprar" />
  </message>
  <message name="comprarResponse">
    <part name="parameters" element="tns:comprarResponse" />
  </message>
  <portType name="VolumenEsfera">
    <operation name="agregarcarrito">
      <input wsam:Action="http://Volumen/VolumenEsfera/agregarcarritoRequest" message="tns:agregarcarrito" />
      <output wsam:Action="http://Volumen/VolumenEsfera/agregarcarritoResponse" message="tns:agregarcarritoResponse" />
    </operation>
    <operation name="Login">
      <input wsam:Action="http://Volumen/VolumenEsfera/LoginRequest" message="tns:Login" />
      <output wsam:Action="http://Volumen/VolumenEsfera/LoginResponse" message="tns:LoginResponse" />
    </operation>
    <operation name="Catalogo">
      <input wsam:Action="http://Volumen/VolumenEsfera/CatalogoRequest" message="tns:Catalogo" />
      <output wsam:Action="http://Volumen/VolumenEsfera/CatalogoResponse" message="tns:CatalogoResponse" />
    </operation>
    <operation name="dotcompras">
      <input wsam:Action="http://Volumen/VolumenEsfera/dotcomprasRequest" message="tns:dotcompras" />
      <output wsam:Action="http://Volumen/VolumenEsfera/dotcomprasResponse" message="tns:dotcomprasResponse" />
    </operation>
    <operation name="agregarcompra">
      <input wsam:Action="http://Volumen/VolumenEsfera/agregarcompraRequest" message="tns:agregarcompra" />
      <output wsam:Action="http://Volumen/VolumenEsfera/agregarcompraResponse" message="tns:agregarcompraResponse" />
    </operation>
    <operation name="carritodot">
      <input wsam:Action="http://Volumen/VolumenEsfera/carritodotRequest" message="tns:carritodot" />
      <output wsam:Action="http://Volumen/VolumenEsfera/carritodotResponse" message="tns:carritodotResponse" />
    </operation>
    <operation name="comprar">
      <input wsam:Action="http://Volumen/VolumenEsfera/comprarRequest" message="tns:comprar" />
      <output wsam:Action="http://Volumen/VolumenEsfera/comprarResponse" message="tns:comprarResponse" />
    </operation>
  </portType>
  <binding name="VolumenEsferaPortBinding" type="tns:VolumenEsfera">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="agregarcarrito">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Login">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Catalogo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="dotcompras">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agregarcompra">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="carritodot">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="comprar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="VolumenEsfera">
    <port name="VolumenEsferaPort" binding="tns:VolumenEsferaPortBinding">
      <soap:address location="http://192.168.1.8:8080/EDDServidorProyecto/VolumenEsfera" />
    </port>
  </service>
</definitions>